.header{
    display: flex;
    align-items: center;
    
   
}
.header-logo{
    width: 100px;
    margin: 0 20px;
    margin-top: 18px;
    object-fit: contain;

}
.header-search{
    display: flex;
    flex: 1;
    padding-left: 700px;
    padding-top: 3%;
}
.header-Input{
    height: 12px;
    padding: 10px;
    border: 1px solid black;
    width: 40%;
    border-color: 2px solid grey;
   
}

.header-SearchIcon{
    padding: 5px;
    height: 22px;
    background-color: #cd904d;
    
}
.header-Option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.Productcart{
    padding-left: 10%;
    padding-top: 1%;
    height: 50%;
}
.login-icons{
    padding-right: 80%;
    margin-left: 2%;
    justify-content: center;
    
}
.header-1{
    background-color: #dfdbe7;
    display: flex;
    height: 60px;

}
.header1-link{
    color: rgb(121, 118, 118);
    padding-top: 15px;
    padding-right:10px;
    text-decoration: none;
    
}
.cart-value{
    text-decoration: none;
    color: red;
    margin-left:5px ;
    margin-right:5px ;
}